@import '../../../styles.scss';
.portrait-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    

    .portrait-image{
        display: flex;
        width: 100%;
        height: 100%;
        background-color: $lightblack;
        border: 1px solid $darkblack;
        border-radius: $border-radius;
        
        img{
            margin: auto;
            width:fit-content;
            height: 100%;
            border-radius: $border-radius;
        }

    }
}
// mobile------------------------------------------------------------
@media screen and (max-width: 992px){
    .portrait-container{
        margin-bottom: 15px;
        .portrait-image{
            img{
                height: auto;
                width: 90%;
            }
        }
    }
}