@import '../../../styles.scss';
.portrait-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .portrait-image{
        display: flex;
        width: 100%;
        height: 100%;
        background-color: $whiteDark;
        border-radius: $border-radius;
        img{
            margin: auto;
            width:fit-content;
            height: 100%;
            border-radius: $border-radius;
        }

    }
}