<div class="container-gallery">
    <div class="gallery-images">
        <div class="gallery-images-text">
            <div class="gallery-images-text-1">See</div>
            <div class="gallery-images-text-2">latest</div>
            <div class="gallery-images-text-3">projects</div>
            <fa-icon [icon]="faCode"></fa-icon>

        </div>
        <div class="img-box">
        </div>
        <div class="img-box">
        </div>
        <div class="img-box">
        </div>
        <div class="img-box">
        </div>
    </div>
</div>