<div class="container-gallery">
    <div class="gallery-images">
        <div class="gallery-images-text">
            <div class="gallery-images-text-1">See</div>
            <div class="gallery-images-text-2">latest</div>
            <div class="gallery-images-text-3">projects</div>
            <fa-icon [icon]="faCode"></fa-icon>
        </div>

        <div class="img-box box1">
            <a href="https://alejoalonzo.github.io/ChatGPT/" target="_blank" rel="noopener noreferrer"></a>
        </div>
        <div class="img-box box2">
            <a href="https://alejoalonzo.github.io/WeatherApp/" target="_blank" rel="noopener noreferrer"></a>
        </div>
        <div class="img-box box3">
            <a href="https://alejandroalonzo.com/projects" target="_blank" rel="noopener noreferrer"></a>
        </div>
        <div class="img-box box4">
            <a href="https://debookmagickey.com/" target="_blank" rel="noopener noreferrer"></a>
        </div>
    </div>
</div>