@import '../../../styles.scss';
.recommendation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: $lightblack;
    border-radius: $border-radius;
    padding: 40px;

    .quote{
        display: flex;
        flex-direction: row;
        color: $whiteDark;
        font-size: 1.6em;
        font-family: $font-inter;
        span{
            font-family: $font-inter;
            margin-top: 120px;
            color: $main;
            font-size: 2em;
            
        }
    }
    .signature{
        font-family: $font-inter;
        color: $whiteDark;
        font-size: 1em;
        width: 100%;
        text-align: start;
        font-weight: lighter;

        span{
            font-style: italic;
        }
    }


    a{
        font-family: $font-inter;
        height: auto;
        width: 100%;
        background-color: $main;
        color: $darkblack;
        text-align: center;
        padding: 10px;
        border-radius: $border-radiusIn;
        font-weight: bold;
    }
    a:hover{
        cursor: pointer;
        background-color: $darkblack;
        color: $main;
        transition: ease all 300ms;

    }

}

//-----------------------------------------LAPTOP-LARGE

@media (max-width: 1750px){
    .recommendation-container{
        padding: 25px;
    
        .quote{
            font-size: 1.4em;
            span{
                margin-top: 70px;
                font-size: 1.9em;
                
            }
        }
        .signature{
            font-size: 0.9em;
        }
    
    }
}

//-----------------------------------------LAPTOP

@media (max-width: 1537px){
    .recommendation-container{
        padding: 15px;
    
        .quote{
            font-size: 1.3em;
            span{
                margin-top: 70px;
                font-size: 1.9em;
                
            }
        }
        .signature{
            font-size: 0.9em;
        }
    
    }
}

// mobile------------------------------------------------------------
@media screen and (max-width: 992px){
    .recommendation-container{
        .quote{

            span{
                margin-top: 50px;
            }
        }
    
    }
}