<div class="skills-container">
    <div class="skills-text">Full Stack <br> Set Skill</div>
    <div class="skills-icons">
        <swiper-container class="swiper-container"
            style="--swiper-pagination-color: gray; height: 100%; width: 100%; padding-left: 5px;"
            pagination-clickable="true" direction="vertical" space-between="20" autoplay-delay="5000" pagination="true"
            autoplay-disable-on-interaction="false">
            <swiper-slide class="slide">
                <div class="card">
                    <div class="img">
                        <img src="assets/media/Angular.png" alt="">
                    </div>

                    <div class="text">
                        <p>An expert in Angular with three years of experience, I've seamlessly upgraded to the latest
                            version 17</p>
                    </div>

                </div>
            </swiper-slide>

            <swiper-slide class="slide">
                <div class="card">
                    <div class="img">
                        <img src="assets/media/javascript.png" alt="">
                    </div>
                    <div class="text">
                        <p>My expertise in Vanilla JavaScript ensures that my projects are developed using the latest
                            standards and best practices</p>
                    </div>

                </div>
            </swiper-slide>

            <swiper-slide class="slide">
                <div class="card">
                    <div class="img">
                        <img src="assets/media/typescript.png" alt="">
                    </div>
                    <div class="text">
                        <p>Proficient in TypeScript, I leverage its strong typing and modern features to build robust
                            and scalable web applications</p>
                    </div>

                </div>
            </swiper-slide>
            <swiper-slide class="slide">
                <div class="card">
                    <div class="img">
                        <img src="assets/media/java.png" alt="">
                    </div>
                    <div class="text">
                        <p>Equipped with knowledge of Java, including Spring Boot, I am prepared to leverage their
                            powerful capabilities in application development</p>
                    </div>

                </div>
            </swiper-slide>
            <swiper-slide class="slide">
                <div class="card">
                    <div class="img">
                        <img src="assets/media/node.png" alt="">
                    </div>
                    <div class="text">
                        <p>Proficient in Node.js, I leverage its capabilities to build scalable and efficient
                            server-side applications</p>
                    </div>

                </div>
            </swiper-slide>
            <swiper-slide class="slide">
                <div class="card">
                    <div class="img">
                        <img src="assets/media/html.png" alt="">
                    </div>
                    <div class="text">
                        <p>With four years of hands-on experience, I excel in crafting well-structured and semantic HTML
                            code for web development projects</p>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide class="slide">
                <div class="card">
                    <div class="img">
                        <img src="assets/media/css.png" alt="">
                    </div>
                    <div class="text">
                        <p>With four years of expertise in CSS, my proficiency extends to advanced techniques, earning
                            me a spot in the top developers on LinkedIn among millions</p>
                    </div>

                </div>
            </swiper-slide>

            <swiper-slide class="slide">
                <div class="card">
                    <div class="img">
                        <img src="assets/media/mysql.png" alt="">
                    </div>
                    <div class="text">
                        <p>Drawing on my extensive database expertise, I excel in MySQL, crafting efficient and scalable
                            database solutions to support web applications</p>
                    </div>

                </div>
            </swiper-slide>

            <swiper-slide class="slide">
                <div class="card">
                    <div class="img">
                        <img src="assets/media/mongo.png" alt="">
                    </div>
                    <div class="text">
                        <p>Experienced in MongoDB, I leverage its flexibility and scalability to design efficient
                            database solutions for web applications</p>
                    </div>

                </div>
            </swiper-slide>

            <swiper-slide class="slide">
                <div class="card">
                    <div class="img">
                        <img src="assets/media/git.png" alt="">
                    </div>
                    <div class="text">
                        <p>With repositories on GitHub since April 2021, I leverage Git's version control features to
                            manage and collaborate on projects effectively</p>
                    </div>

                </div>
            </swiper-slide>

            <swiper-slide class="slide">
                <div class="card">
                    <div class="img">
                        <img src="assets/media/figma.png" alt="">
                    </div>
                    <div class="text">
                        <p>Proficient in Figma, Adobe Photoshop, and Adobe XD, I seamlessly translate designs into
                            pixel-perfect code, ensuring a perfect match between the visual and the functional</p>
                    </div>

                </div>
            </swiper-slide>
        </swiper-container>

    </div>
</div>