@import '../../../styles.scss';
.work-container{
    width: 100%;
    height: 100%;
    background-color: transparent;

    .work{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: $darkblack;
        border-radius: $border-radius;
        padding: 15px;

        &-text-top{
            height: calc(65% - 7.5px);
            border-radius: $border-radius;
            background-color: $bgDark;
            margin-bottom: 7.5px;
        }
        &-text-bottom{
            height: calc(35% - 7.5px);
            margin-top: 7.5px;
            border-radius: $border-radius;
            background-color: $main;
            color: $bgDark;
            font-size: 3em;
            font-family: $font-lobster;

        }
    }
}