<div class="home-container">
    <app-text-three></app-text-three>
    <div class="home-top">
        <div class="home-top-left">
            <app-work></app-work>
        </div>
        <div class="home-top-mid">
            <app-set-skills></app-set-skills>
        </div>
        <div class="home-top-right">
            <div class="home-top-left-title">
                <app-title></app-title>
            </div>

            <div class="home-top-left-name">
                <app-name></app-name>
            </div>

        </div>

    </div>
    <div class="home-bottom">
        <div class="home-bottom-left">
            <div class="home-bottom-left-85">
                <div class="home-bottom-left-85-col col1">
                    <app-email></app-email>
                </div>
                <div class="home-bottom-left-85-col col2">
                    <div class="col2-top">
                        <app-recommendation></app-recommendation>
                    </div>
                </div>
                <div class="home-bottom-left-85-col col3">
                    <div class="col3-top">
                        <app-music></app-music>
                    </div>
                    <div class="col3-bottom">
                        <app-git-hub></app-git-hub>
                    </div>

                </div>
            </div>
            <div class="home-bottom-left-15">
                <div class="home-bottom-left-15-top">
                    <app-linkedin></app-linkedin>
                </div>
                <div class="home-bottom-left-15-bottom">
                    <app-whatsapp></app-whatsapp>
                </div>
            </div>
        </div>
        <div class="home-bottom-right">
            <app-portrait></app-portrait>
        </div>
    </div>

</div>