@import '../../../styles.scss';
#magic {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    top: 0px;
    left: 0;
    z-index: -9999;
  }
  .magic-mobile{
    display: none;
  }
  
  // mobile------------------------------------------------------------
@media screen and (max-width: 992px){
  #magic{
    display: none;
  }
  .magic-mobile{
    display: flex;
    background-color: $darkblack;
    color: $whiteDark;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80dvh;
    font-family: $font-lobster;
    font-size: 5em;
    text-align: center;
    margin: auto;
    border-radius: $border-radius;
    margin-top: 15px;
  }
}
  