<div class="email-container">
    <div class="email-video">
        <a href="mailto:alejandro.12w@gmail.com" target="_blank" rel="noopener noreferrer">
            <img src="assets/media/mail.gif" alt="">
        </a>
        <div class="email-video-text">Have an idea or project in mind? </div>

    </div>

    <div class="email-text">
        <!-- <span>Want to get in touch or discuss a project?</span> -->
        <span class="email-text-p"> Feel free to drop me a line by sending an message to my <span
                class="email-text-p-a">
                <a href="mailto:alejandro.12w@gmail.com" target="_blank" rel="noopener noreferrer">email</a></span>
            address</span>
    </div>

</div>